/* Card.css */
.card-Container{
  width: 70%;
  height: 90%;
  background-color: lightcoral;
  border: 3px double lightslategrey;
  border-radius: 5px;
  box-shadow: 0 0 5px 1px gray; /* 그림자 효과*/
  margin: 10px;
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.job-title {
  font-style: italic;
  margin-bottom: 10px;
}

.contact-info {
  margin-bottom: 10px;
}

.thumnail-size{
  width: 150px;
  height: 150px;
  border-radius: 10px;
}