.main-Container{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 40px;
}

.main-Container-CardList{
  width: 30%;
  height: 100%;
  display: grid;
  justify-content: center;
  background-color: cornflowerblue;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px gray;
  margin: 0;
  padding: 40px;
}

.main-Container-InputBox{
  width: 40%;
  height: 200%;
  display: grid;
  justify-content: center;
  background-color: cornflowerblue;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px gray;
  display: grid;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 40px;
}

.Input-Container{
  display: grid;
  align-items: center;
  width: 100%;
  height: 400px;
  background-color: violet;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px gray; /* 그림자 효과*/
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.file-Upload-Size{
  position: relative;
  left: 40px;
}