.main-Container{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 40px;
}

.title-Design-Input{
  width: 450px;
  height: 50px;
  text-align: center;
  background-color:darkorchid;
  border-radius: 25px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.title-Design-View{
  width: 550px;
  height: 50px;
  text-align: center;
  background-color:darkorchid;
  border-radius: 25px;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

.main-Container-CardList{
  width: 600px;
  height: 100%;
  display: grid;
  justify-content: center;
  background-color: palevioletred;
  border: 3px double lightslategrey;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px gray;
  margin: 0;
  padding: 40px;
  position:relative;
  right: 650px;
  max-height:fit-content; /* 필요에 따라 높이 조절 */
  overflow-y: auto;
}

.main-Container-InputBox{
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: palevioletred;
  border: 3px double lightslategrey;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px gray;
  margin: 60px;
  padding: 20px;
  position: fixed;
  top: 0;
}
.main-Container-InputBox{
  width: 500px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: palevioletred;
  border: 3px double lightslategrey;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px gray;
  margin: 60px;
  padding: 20px;
  position: fixed;
  top: 0;
}